🚀 Built an AI-Powered Facebook Messenger Automation using n8n + OpenAI  Just completed a smart automation workflow where_ ✅ Fac.json
{
  "name": "🚀 Built an AI-Powered Facebook Messenger Automation using n8n + OpenAI  Just completed a smart automation workflow where: ✅ Fac",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "ca3e2cf1-2cdd-4d20-aac6-182a6351bc42",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        -112
      ],
      "id": "a3abb086-b0c2-4315-961a-68cd4f36ee24",
      "name": "Webhook",
      "webhookId": "ca3e2cf1-2cdd-4d20-aac6-182a6351bc42"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query.hub_challenge }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        -224
      ],
      "id": "5c68bed8-f16c-4df7-ae1e-5ef6928a146f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAANOYOpnWr4BRbFndLPMgm8QR8IIroGCFGHNPcKKHexpmhTJRZBZAWgVytP1h6asgCjixQF8RfqxZB9HsSQA49ZBM5xIZB5Tp5yUFABw1XDZB0DV92rVE906weSd82ZC3GblsnbGBF9T4ZBxD3Gs9pEC9Lbdi8bmLS4Nr4NKCAZBGLQMoAOhl3ZAmy3IxIC1wGopzEAVPZBb2DcjZB4GERnizJufGgZDZD"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $json.output }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        16
      ],
      "id": "298c2bf6-8d5a-4d64-a000-ffead0f273f5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].messaging[0].message.text }}\nYou are a professional AI Automation Expert and Messenger Assistant.\n\nYour job is to reply to Facebook Page messages in a smart, human-like, friendly, and professional way.\n\nRules:\n\n* Always reply politely and naturally.\n* Keep replies short, clear, and engaging.\n* Understand the user's intent before replying.\n* Speak like a real human, not like a robot.\n* If someone asks about AI automation, n8n, chatbot, workflow, API, Facebook automation, WhatsApp automation, or business automation — answer like an expert consultant.\n* Help users solve problems step-by-step.\n* Suggest automation ideas when relevant.\n* Use simple language so non-technical users can understand.\n* If the user greets, greet warmly.\n* If the user asks pricing/service info, answer professionally and invite them to continue the conversation.\n* If you don't know something, politely say you’ll help find the best solution.\n* Never say you are an AI language model.\n* Always maintain a confident and expert tone.\n\nYour personality:\n\n* Smart\n* Friendly\n* Professional\n* Helpful\n* Expert in AI Automation and n8n\n\nExample style:\nUser: Hi\nAssistant: Hey 👋 How can I help you today?\n\nUser: Can you build Facebook automation?\nAssistant: Yes absolutely 👍 I can help build Facebook Messenger automation, auto-replies, AI chatbot flows, lead collection systems, and full n8n workflows.\n\nUser: My webhook not working\nAssistant: No worries 😊 Send me the error screenshot or workflow setup and I’ll help you fix it step-by-step.\nIMPORTANT RULES FOR RESPONSE:\n\n* Reply with plain text only.\n* Do NOT use Markdown.\n* Do NOT use bullet points.\n* Do NOT use JSON.\n* Do NOT use code blocks.\n* Do NOT use special formatting.\n* Do NOT include \\n newline characters.\n* Keep the response in a single clean text paragraph.\n* Do NOT use emojis unless necessary.\n* Make responses short, natural, and human-like.\n* Never generate invalid JSON characters.\n* Output only the final reply message text.\n* Do not add explanations or extra formatting.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        -64
      ],
      "id": "4b3c99ef-3173-4ebb-a299-55b515d5efe5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -128,
        144
      ],
      "id": "c7cb0462-0384-4f50-99e0-242c7f5c5edd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "EsHkL6dwg0fLYpId",
          "name": "OpenAI account 13"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1d08c2da-02c1-4aca-8ba8-e2a0293ea5d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50918ee0be4fd9ad8edd59da0eb4c4a6502c186d6a425a1cf635ba824838446e"
  },
  "id": "LxgKrmEyjjlu1FZr",
  "tags": []
}